[bumpversion]
current_version = 0.8.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:./README.md]

[bumpversion:file:sky130/__init__.py]

[bumpversion:file:sky130/klayout/pymacros/set_menus.lym]

[bumpversion:file:sky130/klayout/grain.xml]
